# This is the configuration file for http://syn.chroni.se/
# Evidently, this server is running nginx with the native XSLT processor.

server {

	listen   80;

	server_name  syn.chroni.se;

	access_log  /var/log/nginx/syn.chroni.se.access.log;

	xslt_types application/xhtml+xml;

	root /srv/http/syn.chroni.se;

	location / {
		add_header Vary Accept;

		if ($http_accept ~* application/xhtml\+xml)
		{
			rewrite ^/$ /xhtml/now redirect;
			rewrite ^(.*)$ /xhtml$1 redirect;
		}

		rewrite ^/$ /html/now redirect;
		rewrite ^(.*)$ /html$1 redirect;
	}

	location /css {
		try_files $uri.css $uri =404;
	}

	location /js {
		try_files $uri.js $uri =404;
	}

	location /svg {
		alias /srv/http/syn.chroni.se;
		try_files $uri.xml $uri $uri.cache.xml /php/generate-page;

		xslt_stylesheet /srv/http/syn.chroni.se/xslt/js-disabled.xslt;
		xslt_stylesheet /srv/http/syn.chroni.se/xslt/svg-page.xslt;
		xslt_stylesheet /srv/http/syn.chroni.se/xslt/svg-style-syn.chroni.se.xslt;
	}

	location /svg+js {
		alias /srv/http/syn.chroni.se;
		try_files $uri.xml $uri $uri.cache.xml /php/generate-page;

		xslt_stylesheet /srv/http/syn.chroni.se/xslt/js-enabled.xslt;
		xslt_stylesheet /srv/http/syn.chroni.se/xslt/svg-page.xslt;
		xslt_stylesheet /srv/http/syn.chroni.se/xslt/svg-style-syn.chroni.se.xslt;
	}

	location /xhtml {
		alias /srv/http/syn.chroni.se;
		try_files $uri.xml $uri.xhtml $uri $uri.cache.xml /php/generate-page;

		xslt_stylesheet /srv/http/syn.chroni.se/xslt/xhtml-page.xslt;
		xslt_stylesheet /srv/http/syn.chroni.se/xslt/xhtml-style-syn.chroni.se.xslt;
	}

	location /xhtml+js {
		alias /srv/http/syn.chroni.se;
		try_files $uri.xml $uri.xhtml $uri $uri.cache.xml /php/generate-page;

		xslt_stylesheet /srv/http/syn.chroni.se/xslt/js-enabled.xslt;
		xslt_stylesheet /srv/http/syn.chroni.se/xslt/xhtml-page.xslt;
		xslt_stylesheet /srv/http/syn.chroni.se/xslt/xhtml-style-syn.chroni.se.xslt;
	}

	location /html {
		alias /srv/http/syn.chroni.se;
		try_files $uri.xml $uri.xhtml $uri $uri.cache.xml /php/generate-page;

		xslt_stylesheet /srv/http/syn.chroni.se/xslt/xhtml-page.xslt;
		xslt_stylesheet /srv/http/syn.chroni.se/xslt/xhtml-style-syn.chroni.se.xslt;
		xslt_stylesheet /srv/http/syn.chroni.se/xslt/html-post-process.xslt;
	}

	location /html+js {
		alias /srv/http/syn.chroni.se;
		try_files $uri.xml $uri.xhtml $uri $uri.cache.xml /php/generate-page;

		xslt_stylesheet /srv/http/syn.chroni.se/xslt/js-enabled.xslt;
		xslt_stylesheet /srv/http/syn.chroni.se/xslt/xhtml-page.xslt;
		xslt_stylesheet /srv/http/syn.chroni.se/xslt/xhtml-style-syn.chroni.se.xslt;
		xslt_stylesheet /srv/http/syn.chroni.se/xslt/html-post-process.xslt;
	}

	location /php {
		include /etc/nginx/fastcgi_params;
		fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name.php;
		fastcgi_pass   unix:/var/run/fastcgi-php.socket;
	}
}
